{
  "pid": "{http:\/\/xsd.tns.tibco.com\/bw\/models\/sharedresource\/httpconnector}HttpConnectorConfiguration.factory",
  "properties": {
    "factory.pid": {
      "name": "factory.pid",
      "value": "{http:\/\/xsd.tns.tibco.com\/bw\/models\/sharedresource\/httpconnector}HttpConnectorConfiguration",
      "type": "java.lang.String"
    },
    "factory.pidList": {
      "name": "factory.pidList",
      "value": [{
        "value": "{http:\/\/xsd.tns.tibco.com\/bw\/models\/sharedresource\/httpconnector}HttpConnectorConfiguration.32a6fb4b-a54a-4cf0-ae97-57a1d879b21e",
        "type": "java.lang.String"
      }],
      "type": "[Ljava.lang.String;"
    }
  }
}