{
  "pid": "com.tibco.bw.stat.appnode.c0bc3257-0081-46ad-ae69-aee31e3fa889",
  "properties": {
    "name": {
      "name": "name",
      "value": "Main",
      "type": "java.lang.String"
    },
    "service.factoryPid": {
      "name": "service.factoryPid",
      "value": "com.tibco.bw.stat.appnode",
      "type": "java.lang.String"
    },
    "service.pid": {
      "name": "service.pid",
      "value": "com.tibco.bw.stat.appnode.c0bc3257-0081-46ad-ae69-aee31e3fa889",
      "type": "java.lang.String"
    }
  }
}